.container{
    display: flex;
    flex-direction: column;
}

#moodForm{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 20px 30px;
}

header {
    font-family: 'Times New Roman', Times, serif;
    padding: 60px;
    text-align: center;
    background-color:sandybrown;
    color: rgb(15, 12, 7);
    marker: none;
    align-items: center;
}

footer {
    padding: 20px;
    background-color:sandybrown;
    color: white;
    font-size: 20px;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 60px;
    font-weight: bolder;
}

textarea {
margin: 10px;
}

select {
    padding: 10px 25px ;
}

label {
    font-size:x-large;
    padding: 0px 20px;
    margin: 10px;
    flex: 1 1 30;
}

button {
    margin: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px 20px;
    flex: 1 1 30;
}

select{
margin: 10px;
flex: 1 1 30;
}

averageDisplay{
    display:flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

img {
    width: 40%;
}